<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
						http://www.springframework.org/schema/tx 
						http://www.springframework.org/schema/tx/spring-tx-3.0.xsd 
						http://www.springframework.org/schema/jee 
						http://www.springframework.org/schema/jee/spring-jee-3.0.xsd 
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context-3.0.xsd 
						http://www.springframework.org/schema/aop 
						http://www.springframework.org/schema/aop/spring-aop-3.0.xsd "
	default-lazy-init="false">
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<list>
				<!-- 标准配置 -->
				<value>classpath*:/application.properties</value>
			</list>
		</property>
	</bean>
	<import resource="classpath*:applicationContext-security.xml"/>
	<import resource="classpath*:service-cheke-consumer.xml"/>


	<bean class="com.autozi.common.core.utils.ApplicationContextProvider"/>
	<bean id="dataRowsService" class="com.autozi.cheke.web.system.DataRowsServiceImpl"/>

	<bean id="applicationPropertiesHelper" class="com.autozi.common.core.utils.ApplicationPropertiesHelper">
		<property name="htmlFilePath" value="${html.file.path}" />
		<property name="imageFilePath" value="${img.file.path}" />
		<property name="imageServerUrl" value="${img.server.url}" />
		<property name="adImageServerUrl" value="" />
		<property name="imageFileSize" value="" />
		<property name="imageFileDefault" value="" />
		<property name="tempFilePath" value="" />
	</bean>
</beans>
