<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
<#include "../common/common_include.html">
    <script type="text/javascript" src="${contextpath}/js/user/user.js" ></script>
</head>
<body>
<div class="lf_logo_header lf_register_header">
    <div class="lf_logo_header_center clear">
        <div class="lf_logo_header_l">
            <img src="${contextpath}/styles/images/logo_logo.png">
            <span>车客营销平台 • 注册</span>
        </div>
        <p class="lf_logo_header_r"><i></i>已有账号？请直接登录<a href="${contextpath}/login.action">登录</a></p>
    </div>
</div>
<div class="lf_register_center clear">
    <div class="clear">
        <div class="lf_register_l">
            <form id="registerForm" action="${contextpath}/cheke/register/register.action" method="post">
                <div class="lf_register_form">
                    <label><i>*</i> 车客名称：</label>
                    <input type="text" name="partyName" id="partyName" placeholder="用于文章显示，可中文、英文、数字、符号组合"/>
                    <span></span>
                </div>
                <div class="lf_register_form">
                    <label><i>*</i> 车客用户名：</label>
                    <input type="text" name="loginName" id="loginName" placeholder="用于登录，必须字母开头、数字组合"/>
                    <span></span>
                </div>
                <div class="lf_register_form">
                    <label><i>*</i> 图形码：</label>
                    <input type="text" name="validateCode" id="validateCode" placeholder="请输入图形码"style="width:170px;"/>
                    <img src="${contextpath}/security/captcha.png" class="code_img" onClick="changeValidateCode(this)" />
                    <span></span>
                </div>
                <div class="lf_register_form">
                    <label><i>*</i> 密码：</label>
                    <input type="password" name="password" id="password" placeholder="请输入密码"/>
                    <span></span>
                </div>
                <div class="lf_register_form">
                    <label><i>*</i> 确认密码：</label>
                    <input type="password" name="validatePassword" id="validatePassword" placeholder="请输入确认密码"/>
                    <span></span>
                </div>
                <div class="lf_register_agree">
                    <label class="lf_label_checkBox" for="agreeBox">
                        <input class="clarity" id="agreeBox" type="checkbox"/>
                        <div class="lf_logo_checkBox"></div>
                        <span class="lf_logo_terms">我同意<a href="javascript:void(0);" onclick="User.openRegister()"><span>《车客号用户注册协议》</span></a></span>
                    </label>
                </div>
            </form>
        </div>
        <div class="lf_register_r">
            <img src="${contextpath}/styles/images/erweima.png" />
        </div>
    </div>
    <div class="lf_register_btn">
        <a class="" href="javascript:User.register();">注册</a>
    </div>

</div>
<!--遮罩层-->
<div class="mask_float" style="display: none"></div>
<!--车客号用户注册协议-->
<div class="bomb_box" id="regist_agreement">
    <h2 class="bomb_title">车客号用户注册及推广服务协议 <a class="bomb_close" href="javascript:;"></a></h2>
    <div class="agreement_text">
        <p>欢迎您注册并使用车客-车客号平台！</p>
        <p>为了更好地为您提供服务，请您仔细阅读这份协议，理解认同后再进行注册。本协议是您与车客平台就您注册、登录车客平台及使用等所涉及的全部行为所订立的权利义务规范。您在注册过程中点击“同意”等按钮、及注册后登录和使用时，均表明您已完全充分理解、同意并接受本协议，愿意遵守本协议及车客号平台公示的各项规则、规范的全部内容，若不同意则可停止注册、登录或使用车客平台。</p>
        <p><strong>车客平台：</strong>车客是汽车后市场的自媒体+营销平台，借鉴了主流自媒体营销平台的成功经验，并整合了推广营销功能，从而让行业内的各类群体收益，其终极目标是为行业用户提供各类别合作伙伴。</p>
        <p><strong>您：</strong>指在车客平台提交有效申请并注册后，在平台登录、上传、发布内容、建立推广任务的汽配厂商、经销商、修理厂、媒体、协会、机构、个人等群体。</p>
        <p><strong>车客号：</strong>是汽配厂商、经销商、修理厂、媒体、协会、机构、个人等汽车后市场群体在车客平台上申请的认证应用账号，注册成功后，可在平台上传发布内容、建立营销任务，收集有效客户信息，并与之互动交流。</p>
        <p><strong>推客：</strong>是在车客APP平台上的注册认证用户，主要为建立推广任务的车客号认证会员提供推广服务，并以此获得推广佣金。</p>
        <p><strong>一、	账户注册与使用</strong></p>
        <p>1.1 在注册、使用和管理平台帐户时，请您使用真实、准确、合法、有效的相关身份证明材料及必要信息（包括您的姓名及电子邮件地址、联系电话、联系地址等），以便在必要时与您联系，并注意及时更新。为使您更好地使用车客平台的各项服务，请您按照相关法律规定及平台要求完成实名认证。您应当对您提供的帐号资料的真实性、合法性、准确性和有效性独立承担责任。如因此给车客或第三方造成损害的，您应当依法予以赔偿。</p>
        <p>1.2 为保障用户和平台利益，车客平台有权核查您提交的相关材料（如自然人身份证复印件、企业法人营业执照副本复印件、事业单位法人证书复印件、公司官方声明/说明等）后再决定是否核准您的注册申请。若您提交的材料或填写的信息不完整或不准确，则您可能无法使用本服务或在使用过程中受到限制。</p>
        <p>1.3 您所设置的帐户名不得违反国家法律法规及字平台规则关于帐户名的管理规定，否则车客平台可对您的帐户名进行暂停使用或注销等处理，并向主管机关报告。</p>
        <p>1.4 您理解并承诺，您的帐户名称、头像和简介等注册信息中不得出现违法和不良信息，没有冒用、关联机构或社会名人，您在帐户注册过程中需遵守法律法规、社会主义制度、国家利益、公民合法权益、公共秩序、社会道德风尚和信息真实性等内容。</p>
        <p>1.5 您同意并授权，为了更好的为您提供服务以及确保您的帐户安全，车客平台可以根据您提供的手机号码、身份证号码等信息，向全国公民身份号码查询服务中心、电信运营商、金融服务机构等可靠单位发起用户身份真实性、用户征信记录、用户手机号码有效性状态等情况的查询。</p>
        <p>1.6平台帐号的所有权归车客平台所有，您注册申请通过后，您将拥有车客车客号平台帐号的使用权，可以登录并在车客号平台上制作、复制、发布、传播内容。同时，禁止任何赠与、借用、租用、转让或售卖帐号等的行为。如您违反本协议内容，车客平台有权对该帐户进行暂停使用、注销或停止提供服务等处理，且不承担任何法律责任，由此导致的包括并不限于您通讯中断、资料和内容等清空等损失由您自行承担。</p>
        <p><strong>二、	用户信息保护</strong></p>
        <p>2.1 为了更好地为您提供服务和帮助、保护您的合法权益，请您保证申请服务时所提供的信息是真实、准确、合法、有效的，并注意及时更新，以免在使用过程中受到限制或无法使用。</p>
        <p>2.2 车客平台将保护用户个人信息作为公司发展的最基本原则之一，未经您的同意，不会向其他任何公司、组织或个人披露您的个人信息，法律法规另有规定的除外。</p>
        <p>2.3 为保护自身及推客用户的切身利益。请您在使用车客平台的过程中，不要以搜集、复制、存储、传播等任何方式使用其他用户的个人信息，否则，由此产生的后果需您自行承担。</p>
        <p><strong>三、	权利与义务</strong></p>
        <p>3.1 您需要对注册和使用时提交的信息及材料真实性、准确性、合法性、有效性负责，如因此引起的问题，由您承担全部法律责任。</p>
        <p>3.2 请您妥善保管您的帐户信息，并对此帐户下发生的一切活动承担全部法律责任。不向任何第三方透露帐户或密码信息，如出现或怀疑帐号和密码遭到他人使用，请尽快通知车客平台，以免您的利益受到损失。</p>
        <p>3.3 请您保证对在车客平台制作、复制、上传、发布、传播的任何内容享有合法权益，若您发布的内容发生权利纠纷或侵犯了任何第三方的合法权益，需您承担全部法律责任。</p>
        <p>3.4 请您遵守本协议的各项条款，并正确、适当地使用、运营、管理此平台账号，如您违反本协议中的任何条款，车客平台有权在任何时候依据本协议中止或终止对您提供服务。</p>
        <p>3.5 如您注册车客号帐号后连续两个月不登录该帐号，为避免资源浪费，车客平台有权收回该帐号，因此带来的损失将由您自行承担。</p>
        <p>3.6 您的言行应遵守《计算机信息网络国际联网安全保护管理办法》、《互联网信息服务管理办法》、《互联网电子公告服务管理规定》、《维护互联网安全的决定》、《互联网新闻信息服务管理规定》等相关法律规定，您使用车客平台过程中所制作、复制、上传、发布、传播的任何内容，包括但不限于帐户头像、名称、用户说明、注册信息及其他资料，或文字、语音、图片、视频、图文、图表、漫画等发送、回复消息和相关链接页面，以及其他使用平台服务所产生的内容，不得包含如下法律、法规和政策禁止的内容： </p>
        <p>(1) 反对宪法所确定的基本原则的；</p>
        <p>(2) 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</p>
        <p>(3) 损害国家荣誉和利益的,破坏民族团结的；</p>
        <p>(4) 煽动民族仇恨、民族歧视，破坏民族团结的；</p>
        <p>(5) 破坏国家宗教政策，宣扬邪教和封建迷信的；</p>
        <p>(6) 散布谣言，扰乱社会秩序，破坏社会稳定的,教唆犯罪的；</p>
        <p>(7) 散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</p>
        <p>(8) 侮辱或者诽谤他人，侵害他人合法权益的；</p>
        <p>(9) 含有法律、法规和政策禁止的其他内容的信息。</p>
        <p>3.7 为保证正常运营及用户的良好体验，请您不要利用车客平台制作、复制、上传、发布、传播如下内容： </p>
        <p>(1) 含有任何性或性暗示以及任何其他低俗类信息；</p>
        <p>(2) 骚扰、垃圾广告；</p>
        <p>(3) 涉及他人隐私、个人信息或资料的任何信息；</p>
        <p>(4) 侵害他人名誉权、肖像权、知识产权、商业秘密等合法权利的任何信息；</p>
        <p>(5) 影响车客正常运营、侵犯其他用户或其他第三方合法权益内容的信息。</p>
        <p>3.8 为确保车客平台和用户的利益，请您在使用本平台时，不要进行如下行为：</p>
        <p>(1) 提交、发布虚假信息，或冒充、利用他人名义进行相关活动；</p>
        <p>(2) 强制、诱导其他用户关注、点击链接页面或分享信息；</p>
        <p>(3) 虚构事实、隐瞒真相以误导、欺骗他人；</p>
        <p>(4) 侵害他人名誉权、肖像权、知识产权、商业秘密等合法权利；</p>
        <p>(5) 未经车客平台书面许可使用插件、外挂或其他第三方工具、服务接入本服务和相关系统；</p>
        <p>(6) 利用车客平台及帐户从事违法犯罪活动；</p>
        <p>(7) 制作、发布与以上行为相关的方法、工具，或对此类方法、工具进行运营或传播；</p>
        <p>(8) 其他违反法律法规规定、侵犯其他用户合法权益、干扰产品正常运营或未经授权的行为。</p>
        <p><strong>四、	知识产权</strong></p>
        <p>4.1 在本服务中，由您通过车客平台上传发布的任何内容的知识产权归属您或原始版权人所有，您应保证您有权利授权车客平台及其关联企业、合作方使用您上传发布的内容。车客平台在本服务中提供的内容（包括但不限于网页、文字、图片、音频、视频、图表等）的知识产权属车客平台所有。车客平台提供本服务时所依托的软件的著作权、专利权及其他知识产权均归车客平台所有。</p>
        <p>4.2 对于您通过车客平台上传发布的任何内容，您同意并授权车客平台及其关联企业、合作方享有全世界范围内的、永久的、不可撤销的、免费的、非独家的使用权。</p>
        <p>4.3 上述及其他任何本服务包含的内容的知识产权均受到法律保护，未经车客平台、用户或相关权利人书面许可，任何人不得以任何形式进行使用或创造相关衍生作品。</p>
        <p>4.4 任何单位或个人认为车客平台上述及其他任何服务的内容可能涉嫌侵犯其知识产权或信息网络传播权的，应该及时向车客平台提出书面权利通知投诉，并提供身份证明、权属证明及详细侵权情况证明。车客平台在收到上述法律文件后，将会依法尽快断开相关链接或删除相关内容。如投诉中未向车客平台提供合法有效的证明材料，车客平台有权不采取任何措施。</p>
        <p><strong>五、	推广服务</strong></p>
        <p>5.1 您在注册成功车客号成为会员后，可以根据自己的运营策略，选择付费推广服务。</p>
        <p>5.2 每次充值的推广费用不得小于500元，车客平台将收取8%的推广服务费，举例：您充值500元，实际可推广费用为500-500*8%=460元；每次充值的费用将在充值后第二天在账户中显示。</p>
        <p>5.3 您在登录车客平台后，在自己账号下发布的任何内容都可以建立推广任务。</p>
        <p>5.4 您在建立推广任务后，车客平台上的推客会领取您发布的任务，并社交进行转发，以达到广泛阅读量。</p>
        <p>5.5 单次任务结束后，其内容变为一般浏览内容，不再具有任务效力。</p>
        <p>5.6 您可以在任务完成后，在自己账户平台上进行发票索取，请认真填写发票信息；车客平台将在3-7个工作日进行审核，审核通过后，将按照充值金额开具相应额度发票，并以电子发票或快递形式发送给您。</p>
        <p>5.7 车客平台不保证您的推广一定获得巨大回报，请认真策划您的推广内容。</p>
        <p><strong>六、	法律责任</strong></p>
        <p>6.1 因您提交的注册信息和材料不真实、不完整、不合法或无效等原因，导致或产生的一切法律责任由您承担。车客平台有权随时封禁或删除您的平台账号，以及中止或终止为您提供车客平台的相关服务。</p>
        <p>6.2 您理解并同意，车客平台仅为用户提供信息分享、传播及获取的平台，用户必须为自己注册账户下的一切行为负责，包括您所发表内容的真实性、合法性、准确性、有效性，以及承担因平台使用行为产生的结果。您应对车客平台中的内容自行加以判断，并承担因使用内容而引起的所有风险，包括因对内容真实性、合法性、准确性、有效性的依赖而产生的风险。车客平台无法且不会对因用户行为而导致的损失或损害承担责任。如果您发现任何人违反本协议规定或以其他不当的方式使用车客平台服务，请立即向车客平台举报或投诉，我们将依法进行处理。</p>
        <p>6.3 您理解并同意，车客平台有权依合理判断对违反有关法律法规或本协议规定的行为进行处罚，对违法违规的任何人士采取适当的法律行动，并依据法律法规保存有关信息向有关部门报告等，用户应独自承担由此而产生的一切法律责任。</p>
        <p>6.4 您理解并同意，因您上传、发布的内容或其他在媒体平台上从事的行为导致或产生的第三方主张的任何索赔、要求或赔偿，一切法律责任由您承担。若因此给车客平台或第三方造成任何损失，您应负责赔偿并使之免受损害，损失包括但不限于诉讼费用、律师费用、和解费用、罚款或生效法律文书中规定的损害赔偿金额及其他直接或间接支出费用。</p>
        <p>6.5 若车客平台发现您不当使用本平台帐号或因您的帐号被他人举报投诉时，车客平台有权不经通知随时删除相关内容，并视行为情节对违规帐号进行处理，处理方式包括但不限于警告、删除部分或全部订阅用户、限制或禁止使用全部或部分功能、帐号封禁甚至注销，并有权视具体情况而公告处理结果。</p>
        <p><strong>七、其他约定</strong></p>
        <p>7.1 您使用本服务即视为您已阅读并同意受本协议的约束。</p>
        <p>7.2 本协议的成立、生效、履行、解释及纠纷解决，都适用于中华人民共和国的法律。本协议条款无论因何种原因部分无效或不可执行，其余条款仍有效，对双方具有约束力。</p>
        <p>7.3 如双方就本协议内容或其执行发生任何争议，双方应尽量友好协商解决。协商不成时，任何一方均可向车客平台所在地有管辖权的人民法院提起诉讼。</p>
        <p>7.4 本协议所有条款的标题仅为阅读方便，本身并无实际涵义，不能作为本协议涵义解释的依据。</p>
    </div>
    <div class="agreement_agree">
        <a href="javascript:;" onclick="User.closeRegister()">我已了解</a>
    </div>
</div>
<div class="lf_logo_bottom">
    <p>北京市公安局海淀分局备案编号11010802012137号 | 京ICP备11020175号-4</p>
    <p>Copyright © Autozi.com 2018 All Rights Reserved. Powered by Autozi</p>
</div>
</body>
</html>
<script>
    User.initValidator();
    function changeValidateCode(obj) {
        obj.src="${contextpath}/security/captcha.png?d="+new Date().getTime();
    }
</script>