<div class="qy_center_table" id="data_table_list">
    <table>
        <tbody>
        <tr>
            <th width="6%">
                <label class="lf_label_checkBox" for="06">
                    <input class="clarity" id="06" type="checkbox"/>
                    <div></div>
                </label>
            </th>
            <th width="4%">#</th>
            <th width="14%">资讯标题</th>
            <th width="10%">资讯类别</th>
            <#if status == '0'>
                <th width="14%">创建时间</th>
            </#if>
            <#if status == '1'>
                <th width="14%">发布时间</th>
            </#if>
            <#if status != '0' && status != '1'>
                <th width="10%">上线时间</th>
                <#if status == '4'>
                    <th width="10%">下线时间</th>
                </#if>
            </#if>
            <th width="6%">付费推广</th>
            <#if status == '0'>
                <th width="8%">拒绝原因</th>
            </#if>
            <#if status == '2' || status == '4'>
                <th width="6%">浏览</th>
                <th width="6%">分享</th>
            </#if>
            <th width="10%" class="no_border">操作</th>
        </tr>
        <#if (page??)&&(page.result??)&&(page.result?size>0)>
            <#list page.result as view>
            <tr>
                <td>
                    <label class="lf_label_checkBox">
                        <input class="clarity individual" type="checkbox" value="${view.id}" name="article_ids">
                        <div></div>
                    </label>
                </td>
                <td>${page.firstElementIndex + view_index }</td>
                <td><#if view.title??>${view.title?html}</#if></td>
                <td><#if view.typeName??>${view.typeName?html}</#if></td>
                <#if status == '0'>
                    <td><#if view.createTime??>${view.createTime?string("yyyy-MM-dd HH:mm")}</#if></td>
                </#if>
                <#if status == '1'>
                    <td><#if view.commitTime??>${view.commitTime?string("yyyy-MM-dd HH:mm")}</#if></td>
                </#if>

                <#if status != '0' && status != '1'>
                    <td><#if view.publishTime??>${view.publishTime?string("yyyy-MM-dd HH:mm")}</#if></td>
                    <#if status == '4' >
                        <td><#if view.offlineTime??>${view.offlineTime?string("yyyy-MM-dd HH:mm")}</#if></td>
                    </#if>
                </#if>

                <td><#if view.aIsTask??><#if view.aIsTask == 1>是<#else>否</#if></#if></td>
                <#if status == '0'>
                    <td><#if view.refuseReason??>${view.refuseReason?html}</#if></td>
                </#if>
                <#if status == '2' || status == '4'>
                    <td><#if view.pageView??>${view.pageView?html}</#if></td>
                    <td><#if view.shareAmount??>${view.shareAmount?html}</#if></td>
                </#if>
                <td class="no_border">
                    <#if status == '0'>
                        <a class="qy_alink" href="javascript:;" onclick="Article.publish(${view.id})">发布</a>
                        <a class="qy_alink" href="${contextpath}/article/yxpt/create/createArticle.action?id=${view.id}">修改</a>
                    </#if>
                    <#if status == '1'>
                        <a class="qy_alink" href="javascript:;" onclick="Article.cancel(${view.id})">取消发布</a>
                    </#if>
                    <#if status == '2'>
                        <a class="qy_alink" href="javascript:;" onclick="Article.offline(${view.id})">下线</a>
                    </#if>
                    <a class="qy_alink" href="${contextpath}/article/yxpt/list/getArticleDetail.action?id=${view.id}">预览</a>
                    <#if status == '4'>
                        <a class="qy_alink" href="javascript:;" onclick="Article.copyArticle(${view.id})">导入待发布</a>
                    </#if>
                </td>
            </tr>
            </#list>
        <#else>
        <tr>
            <td colspan='10'>没有符合条件的记录</td>
        </tr>
        </#if>
        </tbody>
    </table>
</div>
$JXC
<#include "../../common/paging_common.html">
