<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>课程详情</title>
        <script type="text/javascript" src="${contextpath}/js/course/courseAdmin.js"></script>
        <link rel="stylesheet" href="${contextpath}/styles/css/jquery-ui.css" />
        <script type="text/javascript" src="${contextpath}/js/framework/jquery.autocomplete.js"></script>
        <script type="text/javascript" src="${contextpath}/js/framework/jquery-ui.js" ></script>
	</head>
	<body>
		<h2 style="width:50%;padding-left: 42px;padding-top: 20px;font-weight: normal;">${courseName}详情</h2>

		<div class="modify_item" style="background-color: #FFF">

            <form id="filter_form" action="/course/admin/update/manageCourse.action" method="post">
                <input type="hidden" name="partyClass" id="partyClass">
                <input type="hidden" name="id" id="id" value="${courseId}">
                <div class="qy_center_seach clear">
                    <div class="qy_seach_wrap clear">
                        <span>
                            <label class="qy_left">车客属性：</label>
                            <div class="project_category qy_left text_adjustment">
                                <!--文本框-->
                                <input class="inves_all_money" type="text" placeholder="全部" value="" name="" />
                                <div class="border_lists" id="party_class">
                                    <a href="javascript:;" data-title=""> 全部 </a>
                                    <#list partyClassMap?keys as key>
                                        <a href="javascript:;" data-title="${key}"> ${partyClassMap[key]} </a>
                                    </#list>
                                </div>
                            </div>
                        </span>

                        <span>
                            <label class="qy_left"> 标题：</label>
                            <input class="qy_left text_adjustment" type="text" id="titleForSearch" name="title">
                        </span>
                    </div>

                    <div class="qy_seach_right">
                        <a class="qy_seach_cx" href="javascript:void(0)" onclick="App.commonFormSubmit('filter_form');">查询</a>
                        <a class="qy_seach_cz" href="javascript:;" onclick="queryChongZhi()">重置</a>
                    </div>

                </div>

            </form>
			<div class="qy_left_table" id="data_table_list_c">
               <!-- <div class="qy_left clear">
                    <a class="qy_but" onclick="CourseAdmin.jumpCreatePage()" href="javascript:;"><img src="${contextpath}/styles/images/xzzx.png" alt="">删除章节</a>
                </div>-->
				<table>
					<tbody>
					<tr>
						<th width="4%">
							<label class="lf_label_checkBox" for="06_c">
								<input class="clarity" id="06_c" type="checkbox"/>
								<div></div>
							</label>
						</th>
						<th width="14%">文章标题</th>

						<#if status == '2' || status == '4'>
							<th width="8%">章节号</th>
						</#if>
                        <#if status == '2' || status == '4'>
                            <th width="12%">操作</th>
                        </#if>

					</tr>
					<#if (chapterPage??)&&(chapterPage.result??)&&(chapterPage.result?size>0)>
						<#list chapterPage.result as chapterView>
							<tr>
								<td>
									<label class="lf_label_checkBox">
										<input class="clarity individual" type="checkbox" name="article_ids" value="${chapterView.id}">
										<div></div>
									</label>
								</td>
								<td><#if chapterView.title??>${chapterView.title?html}</#if></td>

								<#if status == '2' || status == '4'>
									<td><#if chapterView.num??>${chapterView.num?html}</#if></td>
								</#if>
                                <td class="no_border">
                                    <a class="qy_alink" href="javascript:;" onclick="CourseAdmin.delAticle('${chapterView.id}','${chapterView.title?html}')">删除</a>
                                </td>

							</tr>
						</#list>
						<#else>
							<tr>
								<td colspan='10'>没有符合条件的记录</td>
							</tr>
					</#if>
					</tbody>
				</table>
			</div>

            <div class="qy_right_table" >
               <!-- <div class="qy_left clear">
                    <a class="qy_but" onclick="CourseAdmin.jumpCreatePage()" href="javascript:;"><img src="${contextpath}/styles/images/xzzx.png" alt="">新增章节</a>
                </div>-->
                <div id="data_table_list">
                    <table>
                        <tbody>
                        <tr>
                            <th width="4%">
                                <label class="lf_label_checkBox" for="06_a">
                                    <input class="clarity" id="06_a" type="checkbox"/>
                                    <div></div>
                                </label>
                            </th>
                            <th width="14%">文章标题</th>
                            <th width="8%">文章类别</th>

                            <#if status == '2' || status == '4'>
                                <th width="12%">操作</th>
                            </#if>

                        </tr>
                        <#if (articlePage??)&&(articlePage.result??)&&(articlePage.result?size>0)>
                            <#list articlePage.result as articleView>
                                <tr>
                                    <td>
                                        <label class="lf_label_checkBox">
                                            <input class="clarity individual" type="checkbox" name="article_ids" value="${articleView.id}">
                                            <div></div>
                                        </label>
                                    </td>
                                    <td><#if articleView.title??>${articleView.title?html}</#if></td>
                                    <td><#if articleView.typeName??>${articleView.typeName?html}</#if></td>
                                    <td class="no_border">
                                        <a class="qy_alink" href="javascript:;" onclick="CourseAdmin.addAticle('${articleView.id}','${articleView.title?html}')">添加至课程</a>
                                    </td>
                                </tr>
                            </#list>
                            <#else>
                                <tr>
                                    <td colspan='10'>没有符合条件的记录</td>
                                </tr>
                        </#if>
                        </tbody>
                    </table>
                </div>
                <div class="clear qy_page_wrap">
                    <div id="page_common_nav">
                        <#include "../../common/paging_common.html">
                    </div>
                </div>
            </div>

        </div>

        <!--遮罩层-->
        <div class="mask_float"></div>
        <!--弹窗-->
        <div class="bomb_box" id="add_popup">
            <h2 class="bomb_title">添加/删除课程章节<a class="bomb_close" href="javascript:;"></a></h2>
            <input type="hidden" name="article_id" id="article_id" value="">
            <input type="hidden" name="courseId" id="courseId" value="${courseId}">
            <div class="bomb_pwd_in">
                <form id="form_data">
                    <p>
                        <span>章节标题：</span><div id="title"></div>
                    </p>
                    <p id="chapter_num">
                        <span>章节序号：</span>
                        <input type="text" id="num" name="num" value="0"  />
                    </p>
                </form>
            </div>
            <div class="pwd_bottom_btn">
                <a class="fication_cancel" href="javascript:;">取消</a>
                <a class="confirmation_pwd" id="add" href="javascript:;" onclick="CourseAdmin.addToCourse()">添加</a>
                <a class="confirmation_pwd" id="del" href="javascript:;" onclick="CourseAdmin.delFromCourse()">删除</a>
            </div>
        </div>


<script>
    $(function(){
        $("*[name='title']").autocomplete({
            minLength: 0,
            source: function( request, response ) {
                $.ajax({
                    url : "/article/admin/list/listKeyWords.action",
                    type : "post",
                    dataType : "json",
                    data : {"keywords":$("*[name='title']").val()},

                    success: function( data ) {
                        //console.log(data.data.list[0]);
                        var arrayObj = new Array();
                        $.each(data.data.list,function(i, item){
                            console.log(i);
                            console.log("keyWord: "+item.keyWord);

                            arrayObj[i] = item.keyWord;
                        });
                        response(arrayObj);

                    }
                });
            }
        });
    });
</script>
	</body>
</html>
