<link type="text/css" rel="stylesheet" href="${dplStyleServer}/jquery/themes/default/easyui.css"/>
<link type="text/css" rel="stylesheet" href="${dplStyleServer}/jquery/themes/icon.css"/>
<link type="text/css" rel="stylesheet" href="${dplStyleServer}/styles/theme.css"/>
<link type="text/css" rel="stylesheet" href="${dplStyleServer}/styles/wms/wms_specific.css"/>
<#-- <link type="text/css" rel="stylesheet" href="${dplStyleServer}/styles/smoothness/jquery-ui-1.8.13.custom.css"/> -->
<!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="${dplStyleServer}/styles/ie8.css">
<![endif]-->
<!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="${dplStyleServer}/styles/ie7.css">
<![endif]-->
<!--[if IE 6]>
<link rel="stylesheet" type="text/css" href="${dplStyleServer}/styles/ie6.css">
<![endif]-->
<link rel="stylesheet" type="text/css" href="${dplStyleServer}/css/combobox.css" />
<link rel="stylesheet" type="text/css" href="${dplStyleServer}/css/tooltip.css" />
<link rel="stylesheet" type="text/css" href="${dplStyleServer}/css/validatebox.css" />

<link rel="stylesheet" type="text/css" href="${dplStyleServer}/jquery/jqueryui/css/jquery.ui.theme.min.css" />
<link type="text/css" rel="stylesheet" href="${dplStyleServer}/jquery/jqueryui/css/jquery.ui.autocomplete.css"/>
<link type="text/css" rel="stylesheet" href="${dplStyleServer}/jquery/jqueryui/css/jquery.ui.core.css"/>
