<link rel="stylesheet" href="${contextpath}/styles/css/public.css"/>
<link rel="stylesheet" href="${contextpath}/styles/css/index.css"/>
<link rel="stylesheet" href="${contextpath}/js/framework/alert/css/confirm_alert.css" />
<script type="text/javascript" src="${contextpath}/js/framework/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="${contextpath}/js/framework/jquery.autocomplete.js"></script>
<script type="text/javascript" src="${contextpath}/js/framework/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="${contextpath}/js/framework/app.js"></script>
<script type="text/javascript" src="${contextpath}/js/framework/jquery.form.js"></script>
<script type="text/javascript" src="${contextpath}/js/framework/alert/js/ui.js"></script>
<script type="text/javascript" src="${contextpath}/js/framework/validata/clover_validator_3.0.js"></script>
<script type="text/javascript" src="${contextpath}/js/framework/validata/clover_validator_3.0.autoload.js"></script>
<script type="text/javascript" src="${contextpath}/js/framework/index.js"></script>

<!--[if IE 8]>
<link rel="stylesheet" href="${contextpath}/styles/css/compatibilityIE8.css" />
<![endif]-->
<script>
    var context = '${contextpath}';
    var contextpath = '${contextpath}';
</script>