<div class="permanently clear" style="padding-bottom: 30px;">
    <label style="width: 207px;color: #333333;" class="permanentlyOne"></label>
    <div class="modify_perman" style="margin-left: 207px;">
        <div class="modfity_img_style">
            <div class="modify_box_up_img id_person_img01">
                        <span id="identifyImgASpan">
                        </span>
                <input type="hidden" value="" name="identifyImgA" id="identifyImgA" />
                <input type="file" name="file4" id="file4" onchange="Party.upload(4)"  />
                        <span id="identifyImgA_a">
                        </span>
            </div>
            <span>上传手持身份证正面</span>
        </div>
        <div class="modfity_img_style">
            <div class="modify_box_up_img id_person_img02">
                        <span id="identifyImgBSpan">
                        </span>
                <input type="hidden" value="" name="identifyImgB" id="identifyImgB" />
                <input type="file" name="file5" id="file5" onchange="Party.upload(5)"  />
                        <span id="identifyImgB_a">
                        </span>
            </div>
            <span>上传身份证反面</span>
        </div>
    </div>
</div>