<div class="permanently clear">
    <label style="width: 207px; margin-right: 5px;" class="permanentlyOne"><span>*</span>所在地：</label>
    <div style="width: 147px;" class="project_category">
        <input style="width: 147px;" type="text" placeholder="请选择" value="" id="areaOne" name="areaOne" />
        <div style="width: 147px;" class="border_lists" id="areaOneOption">

        </div>
    </div>
    <div style="width: 147px;" class="project_category">
        <input style="width: 147px;" type="text" placeholder="请选择" value="" id="areaTwo" name="areaTwo" />
        <div style="width: 147px;" class="border_lists" id="areaTwoOption">

        </div>
    </div>
    <div  style="width: 147px;" class="project_category">
        <input type="hidden" value="" id="areaId" name="areaId" />
        <input style="width: 147px;" type="text" placeholder="请选择" value="" id="areaThree" name="areaThree" />
        <div style="width: 147px;" class="border_lists" id="areaIdOption">

        </div>
    </div>
</div>

<!--公司类型-->
<div class="permanently clear">
    <label style="width: 207px; margin-right: 5px;" class="permanentlyOne"><span>*</span><span style="color:#000" class="typeName"></span>类别：</label>
    <div class="project_category">
        <input type="hidden" id="companyType" value="" name="companyType" />
        <input type="text" placeholder="请选择" value="" id="companyTypeName" name="companyTypeName" />
        <div class="border_lists" id="companyTypeOption">
        <#if (companyType??)>
            <#list companyType?keys as key>
                <a href="javascript:Party.selectCompanyType(${key});">${companyType[key]}</a>
            </#list>
        </#if>
        </div>
    </div>
</div>

<!--营业执照-->
<div class="permanently clear">
    <label style="width: 207px;color: #333333;" class="permanentlyOne"><span>*</span>资质证明：</label>
    <div class="modify_perman">
        <div class="modfity_img_style">
            <div class="modify_box_up_img">
                        <span id="certificateImgSpan">
                        </span>
                <input type="hidden" value="" name="certificateImg" id="certificateImg" />
                <input type="file" name="file1" id="file1" onchange="Party.upload(1)" />
                        <span id="certificateImg_a">
                        </span>
            </div>
            <span id="certificateName">企业营业执照扫描件</span>
        </div>
        <div class="modfity_img_style">
            <div class="modify_box_up_img xuke_img">
                        <span id="certificateOtherSpan">
                        </span>
                <input type="hidden" value="" name="certificateOther" id="certificateOther" />
                <input type="file" name="file2" id="file2" onchange="Party.upload(2)"  />
                        <span id="certificateOther_a">
                        </span>
            </div>
            <span>其它</span>
        </div>
    </div>
</div>
<br>
<p class="updtate_text"><span id="certificateMsg">请上传工商营业执照最新年检副本的清晰彩色扫描件或照片！</span></p>
<div class="nb_userInfo_main_form nb_userInfo_none">
    <label class="nb_user_style" for=""></label>
    <input type="text" value="" name="socialCreditCode" id="socialCreditCode" placeholder="请输入15位工商营业执照注册号或18位统一社会信用代码">
</div>

<div class="permanently clear">
    <label style="width: 207px; color: #333333;" class="permanentlyOne"><span>*</span><span style="color:#000" class="typeName1"></span>账号开通授权书：</label>
    <input type="hidden" value="" name="authorImg" id="authorImg" />
    <div class="modify_perman">
        <div class="modify_box_up author_left">
            上传图片
            <input type="file" name="file3" id="file3" onchange="Party.upload(3)" value="" />
        </div>
    </div>
    <span class="gary_tishi">支持jpg、png，不超过2M</span>
</div>
<p class="down_thistext">下载填写《<span class="typeName1"></span>账号开通授权书》<a href="${contextpath}/styles/20180119.doc" download="账号开通授权书模板">点击下载此模板</a>，填写完整后加盖公章，上传清晰的彩色扫描件或照片。</p>
<div>
    <span id="img_span" style="display: block; margin-left: 230px; margin-top: 20px;">
    </span>
</div>

<!--发票信息-->
<div class="nb_userInfo_main">
    <h4 class="nb_userInfo_main_title"><span></span>发票信息</h4>
    <div class="nb_userInfo_main_form nb_userInfo_none">
        <label class="nb_user_style" for=""><span>＊</span>发票抬头：</label>
        <input type="text" value="" name="invoiceTitle" id="invoiceTitle" disabled placeholder="">
    </div>
    <div class="nb_userInfo_main_form nb_userInfo_none">
        <label class="nb_user_style" for=""><span>＊</span>纳税人识别号：</label>
        <input type="text" value="" name="invoiceNumber" id="invoiceNumber" placeholder="请输入纳税人识别号">
    </div>
    <div class="nb_userInfo_main_form nb_userInfo_none">
        <label class="nb_user_style" for="">地址、电话：</label>
        <input type="text" value="" name="invoiceAddress" id="invoiceAddress" placeholder="填写注册地址、注册电话">
    </div>
    <div class="nb_userInfo_main_form nb_userInfo_none">
        <label class="nb_user_style" for="">开户行及账号：</label>
        <input type="text" value="" name="invoiceBank" id="invoiceBank" placeholder="填写开户银行及银行账号">
    </div>
</div>

<!--个人信息-->
<div class="nb_userInfo_main_margin"></div>
<div class="nb_userInfo_main">
    <h4 class="nb_userInfo_main_title"><span></span>运营负责人</h4>
    <div class="nb_userInfo_main_form nb_smallLeft">
        <label for=""><span>＊</span>真实姓名：</label>
        <input class="nb_smallInput" value="" name="connectorName" id="connectorName" type="text" placeholder="请输入真实姓名">
    </div>
    <div class="nb_userInfo_main_form nb_smallLeft">
        <label for=""><span>＊</span>身份证号：</label>
        <input class="nb_smallInput" value="" name="idNumber" id="idNumber" type="text" placeholder="请输入身份证号码">
    </div>
<#include "common-identify.html">
    <div class="nb_userInfo_main_form nb_smallLeft">
        <label for=""><span>＊</span>手机号码：</label>
        <input class="nb_smallInput" value="" id="mobile" name="mobile" type="text" placeholder="请输入手机号码">
        <input id="get_code" style="width: 100px;border-radius: 15px; padding: 0; text-align: center;" type="button" onclick="Party.getPhoneValidateCode(this)"  value="获取验证码" >
        <p><input class="nb_smallInput" style="margin-left:98px;" name="validateCode" id="validateCode" type="text" placeholder="请输入验证码"></p>
    </div>
</div>
