<script type="text/javascript" src="${contextpath}/js/framework/upload/ajaxfileupload.js" ></script>
<script type="text/javascript" src="${contextpath}/js/party/party.js"></script>
<style>
    .author_left object {
        left: 0
    }
</style>
<script>
    $(function () {
        Party.initValidator();
        Party.initOneLevelArea();
        var typeName = "公司";
        var typeName1 = "企业";
        $(".typeName").html(typeName);
        $(".typeName1").html(typeName1);
        $("#invoiceTitle").attr("placeholder","与公司名称自动填写保持一致");
    });
</script>
<div class="lf_carRight_center">
    <div class="nb_userInfo_header">
        <p>选择身份：</p>
        <button class="hover" onclick="Party.selectPartyClass(this,1)">企业单位<span class="nb_triangle_down"></span></button>
        <button onclick="Party.selectPartyClass(this,2)">政府机构<span class="nb_triangle_down"></span></button>
        <button onclick="Party.selectPartyClass(this,3)">展览媒介<span class="nb_triangle_down"></span></button>
        <button onclick="Party.selectPartyClass(this,4)">个人<span class="nb_triangle_down"></span></button>
        <p class="nb_userInfo_header_description">说明: 无营业执照请选“个人” </p>
    </div>
    <form id="editForm" action="" method="post">
        <input type="hidden" id="partyClass" name="partyClass" value="1">
        <input type="hidden" id="userId" name="userId" value="<#if (user.id??)>${user.id}</#if>">
        <input type="hidden" id="partyId" name="id" value="<#if (party??&&party.id??)>${party.id}</#if>">
        <div class="nb_userInfo_main">
            <p class="ng_comments">注：＊为必填</p>
            <h4 class="nb_userInfo_main_title"><span></span>公司信息</h4>
            <div class="nb_userInfo_main_form">
                <label style="width:166px;margin-right:6px;" for=""><span>＊</span>公司全称：</label>
                <input type="text" name="companyName" id="companyName" value="" onchange="Party.bindCompanyName()" placeholder="请输入公司全称，需与公司资质上登记的名称一致">
            </div>
            <div class="nb_userInfo_main_form">
                <label style="width: 166px;margin-right:6px;" for="">公司简介：</label>
                <textarea name="description" id="description" value="" cols="30" rows="10" placeholder="请简单介绍本公司，便于大家快速了解，字数不多于30字"></textarea>
            </div>
            <!--所在地-->
            <#include "common-area.html">
        </div>
    </form>
    <div class="nb_submit">
        <a href="javascript:void(0)">
            <button class="nb_submit_btn" onclick="Party.toUpStep()">上一步</button>
            <button class="nb_submit_btn" onclick="Party.save(1)">提交审核</button>
        </a>
    </div>
</div>