<script type="text/javascript" src="${contextpath}/js/settle/account.js"></script>
<link rel="stylesheet" href="${contextpath}/styles/css/pay.css" />
<!--支付详情展示-->
<div class="wechat_pay">
    <div class="wechat_pay_in">
        <input type="hidden" id="orderId" name="orderId" value="${orderId}">
        <!--订单号及金额-->
        <div class="wechat_pay_order clear">
            <div class="wechat_commit">订单已提交成功，请尽快付款！订单号：<span>${code}</span></div>
            <div class="wechat_money">应付金额<strong><#if payMoney??>${payMoney?string("0.00")}</#if></strong>元</div>
        </div>
        <!--二维码图片部分-->
        <div class="wechat_code clear">
            <p class="wechat_code_time_show">
                <span id="timeStr">距离二维码过期还剩<span id="timeDown" style="color: red">60</span>秒，过期后请刷新页面重新获取二维码。</span>
            </p>
            <div class="wechat_code_img">
                <div class="code_img_style">
                    <img id="weixinImageURL" src="${contextpath}/account/ck/list/wxPay.action?orderId=<#if orderId??>${orderId}</#if>" width="298" height="298">
                </div>
                <img class="wechat_textbg" src="${contextpath}/styles/images/wechat_textbg.png"/>
            </div>
            <div class="wechat_imgbg">
                <img src="${contextpath}/styles/images/wechat_imgbg.png"/>
            </div>
        </div>
        <!--选择其他支付方式-->
        <p class="other_payment">
            <a id="other_pay" href="${contextpath}/account/ck/list/toPay.action?accountOrderId=${orderId}">选择其他支付方式</a>
        </p>
    </div>
</div>
<script>
    $(function(){
        Account.settimeWx();
        setTimeout(function() {
            Account.checkPaySuccess();
        },5000)
    });
</script>

<!--遮罩层-->
<div class="mask_float1"></div>
<div class="bomb_box" id="pay_success" style="display: none">
    <h2 class="bomb_title">充值提示</h2>
    <div class="bomb_pwd_in">
        <p class="bomb_pay_green"><img src="${contextpath}/styles/images/success_bg.png">恭喜您，充值成功!</p>
        <p style="color: #999;text-align: center; line-height: 26px;"><span id="timeSuccess" style="color: red">15</span>秒后跳转到账户首页</p>
    </div>
    <div class="pwd_bottom_btn">
        <a class="" style="background: #5a8bff;" href="javascript:Account.toShowAccount();">确认</a>
    </div>
</div>
