<div class="nb_userInfo_main_form">
    <label for="">发票抬头：</label>
    <p><#if (party.invoiceTitle??)>${party.invoiceTitle}</#if></p>
</div>
<div class="nb_userInfo_main_form">
    <label for="">纳税人识别号：</label>
    <p><#if (party.invoiceNumber??)>${party.invoiceNumber}</#if></p>
</div>
<div class="nb_userInfo_main_form">
    <label for="">地址、电话：</label>
    <p><#if (party.invoiceAddress??)>${party.invoiceAddress}</#if></p>
</div>
<div class="nb_userInfo_main_form">
    <label for="">开户行及账号：</label>
    <p><#if (party.invoiceBank??)>${party.invoiceBank}</#if></p>
</div>
