<!--遮罩层-->
<div class="mask_float"></div>
<!--拒绝原因弹框-->
<div class="bomb_box" id="reasons_for">
    <div class="bomb_pwd_in">
        <p>
            <span>拒绝原因：</span>
            <textarea placeholder="请输入拒绝原因" id="refuseReason"></textarea>
        </p>
    </div>
    <div class="pwd_bottom_btn">
        <a id="reasons_ok" class="confirmation_pwd" href="javascript:PartyAdmin.refuseVerify();">确认</a>
        <a id="reasons_close" class="confirmation_pwd" href="javascript:PartyAdmin.closeRefuseDialog();">关闭</a>
    </div>
</div>



