<div class="permanently clear">
    <label style="width: 198px;color: #333333;" class="permanentlyOne">资质证明：</label>
    <div class="modify_perman">
        <div class="modfity_img_style">
            <div class="modify_box_up_img">
            <#if (partyLog??&&partyLog.certificateImg??)>
                <img src="${partyLog.certificateImg}"/>
            </#if>
            </div>
            <span id="certificateName">企业营业执照扫描件</span>
        </div>
        <div class="modfity_img_style">
            <div class="modify_box_up_img xuke_img">
            <#if (partyLog??&&partyLog.certificateOther??)>
                <img src="${partyLog.certificateOther}"/>
            </#if>
            </div>
            <span>其它</span>
        </div>
    </div>
</div>
<div class="nb_userInfo_main_form">
    <label for="">营业执照号或社会信用代码：</label>
    <p><#if (partyLog??&&partyLog.socialCreditCode??)>${partyLog.socialCreditCode}</#if></p>
</div>
<div class="permanently clear">
    <label style="width: 207px; color: #333333;" class="permanentlyOne">企业账号开通授权书：</label>
    <div class="modfity_img_style">
        <div class="modify_box_up_img">
        <#if (partyLog??&&partyLog.authorImg??)>
            <img src="${partyLog.authorImg}"/>
        </#if>
        </div>
        <span>授权书</span>
    </div>
</div>