<script type="text/javascript" src="${contextpath}/js/party/partyAdmin.js" ></script>
<div class="lf_carRight_center">
    <div class="nb_userInfo_main">
        <#include "common-refuse.html">

        <h4 class="nb_userInfo_main_title"><span></span>公司信息</h4>

        <div class="nb_userInfo_main_form clear">
            <label for="">公司全称：</label>
            <p><#if (partyLog??&&partyLog.companyName??)>${partyLog.companyName}</#if></p>
        </div>
        <div class="nb_userInfo_main_form clear">
            <label for="">公司简介：</label>
            <p><#if (partyLog??&&partyLog.description??)>${partyLog.description}</#if></p>
        </div>
        <!--所在地-->
        <#include "common-area.html">
        <div class="nb_userInfo_main_form clear">
            <label for="">公司类别：</label>
            <p><#if (companyTypeName??)>${companyTypeName}</#if></p>
        </div>
        <!--资质证明-->
        <#include "common-certificate.html">

        <h4 class="nb_userInfo_main_title"><span></span>发票信息</h4>
        <#include "common-invoice.html">

        <h4 class="nb_userInfo_main_title"><span></span>运营负责人</h4>
        <#include "common-person.html">
        
    </div>
<#include "common-button.html">
</div>
<#include "common-dialog.html">


